<h1 id="page_title">Stuff I've Written</h1>

<div id="posts_wrapper" class="skinny_wrapper">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="date"><%= post.created_at.strftime('%A, %b %d') %></div>
      <h2><%= link_to post.title, post %></h2>
      <hr>
    </div><!-- end .post -->
  <% end %>
</div>

<%= will_paginate @posts %>
